<div
	class="relative col-span-2 col-start-2 grid grid-cols-3 place-items-center justify-self-center text-[11px] sm:mr-1 sm:justify-self-end md:text-base"
>
	<span class="block">
		<a
			class="{{ if eq .Page.Language.Lang "cs" }}
				font-bold strikethrough-text strikethrough-text--interactive
				strikethrough-text--active
			{{ else }}
				font-normal
			{{ end }} strikethrough-text strikethrough-text--interactive hover:text-neutral-800"
			href="{{ range where .Translations "Lang" "cs" }}
				{{ .RelPermalink }}
			{{ end }}"
		>
			CZ
		</a>
	</span>
	<span class="h-[13px] w-px bg-neutral-800 md:h-[19px]"></span>
	<span class="block">
		{{ if not (where .AllTranslations "Language.Lang" "cs") }}
			<span class="cursor-not-allowed">EN</span>
		{{ else }}
			<a
				class="{{ if eq .Page.Language.Lang "en" }}
					font-bold strikethrough-text strikethrough-text--interactive
					strikethrough-text--active
				{{ else }}
					font-normal
				{{ end }} strikethrough-text strikethrough-text--interactive"
				href="{{ range where .Translations "Lang" "en" }}
					{{ .RelPermalink }}
				{{ end }}"
			>
				EN
			</a>
		{{ end }}
	</span>
</div>
