<header
	class="fixed inset-x-0 top-[20px] z-50 grid w-screen grid-cols-12 place-items-start"
>
	{{/* Lang */}}
	<div
		class="relative col-span-2 col-start-2 grid grid-cols-3 place-items-center justify-self-center text-[11px] sm:justify-self-end md:text-base"
	>
		<span class="block">
			<header
				class="fixed inset-x-0 top-[20px] z-50 grid w-screen grid-cols-12 place-items-start"
			>
				{{/* Lang */}}
				<div
					class="relative col-span-2 col-start-2 grid grid-cols-3 place-items-center justify-self-center text-[11px] sm:justify-self-end md:text-base"
				>
					<span class="block">
						<a
							class="{{ if eq .Page.Language.Lang "cs" }}
								font-bold text-strikethrough text-strikethrough--interactive
								text-strikethrough--active
							{{ else }}
								font-normal
							{{ end }} text-strikethrough text-strikethrough--interactive hover:text-neutral-800"
							href="{{ range where .Translations "Lang" "cs" }}
								{{ .RelPermalink }}
							{{ end }}"
						>
							CZ
						</a>
					</span>
					<span class="h-[13px] w-px bg-neutral-800 md:h-[19px]"></span>
					<span class="block">
						{{ if not (where .AllTranslations "Language.Lang" "cs") }}
							<span class="cursor-not-allowed">EN</span>
						{{ else }}
							<a
								class="{{ if eq .Page.Language.Lang "en" }}
									font-bold text-strikethrough text-strikethrough--interactive
									text-strikethrough--active
								{{ else }}
									font-normal
								{{ end }} text-strikethrough text-strikethrough--interactive"
								href="{{ range where .Translations "Lang" "en" }}
									{{ .RelPermalink }}
								{{ end }}"
							>
								EN
							</a>
						{{ end }}
					</span>
				</div>

				<nav class="col-span-6 col-start-5">
					<ul
						class="flex gap-4 text-base font-semibold text-neutral-800 md:gap-10 md:text-2xl"
					>
						{{ range .Site.Menus.main }}
							{{ if ne .Params.hidden "true" }}
								<li>
									<a
										class="link-strikethrough {{ if eq $.Page.RelPermalink .URL }}
											link-strikethrough--active
										{{ end }}"
										href="{{ .URL }}"
									>
										{{ .Name }}
									</a>
								</li>
							{{ end }}
						{{ end }}

					</ul>
				</nav>
				<div
					class="col-start-12 w-2/3 min-w-[20px] max-w-[56px] place-self-center fill-neutral-800 lg:col-start-11"
				>
					<a href="{{ ($.Site.GetPage `/`).RelPermalink }}">
						{{ partial "svg/Logo.svg" }}
					</a>
				</div>
			</header>
		</span>
	</div>
</header>
