<section class="base-grid py-20">
	<h2
		class="col-start-3 col-end-12 text-right text-5xl font-black sm:text-6xl md:text-8xl lg:col-end-10"
	>
		{{ i18n "project-process-heading" }}
	</h2>
	<div
		class="col-span-full mt-10 grid grid-cols-1 gap-px bg-neutral-900 md:grid-cols-2 lg:grid-cols-3"
	>
		{{ $process  := .Site.Data.process }}
		{{ $siteLang := .Site.Language.Lang | lower }}
		{{ range $key, $value := $process }}
			{{ if eq $key $siteLang }}
				{{ range $value }}
					<div class="bg-amber-300 p-8">
						<div class="md:h-[280px]">
							<div
								class="w-20 fill-neutral-800 pb-10 md:w-36 md:pt-14 md:pb-20"
							>
								{{ partial (.icon) }}
							</div>
						</div>
						<div class="flex items-end space-x-4">
							<span
								class="grid aspect-square h-10 place-items-center rounded-full bg-neutral-800 p-1 text-neutral-100"
								>{{ .id }}</span
							>
							<span class="block text-xl font-bold">{{ .heading }}</span>
						</div>
						{{ range .text }}
							<p class="mt-6">
								{{ . }}
							</p>
						{{ end }}
					</div>
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
</section>
