<div class="testimonials__controls">
	<div class="flex gap-3">
		<button
			data-button="prev"
			class="testimonials__button testimonials__button--disabled"
		>
			<div class="h-4 w-auto rotate-180 transform fill-neutral-800">
				{{ partial "svg/Chevron.svg" . }}
			</div>
		</button>
		<button data-button="next" class="testimonials__button">
			<div class="h-4 w-auto fill-neutral-800">
				{{ partial "svg/Chevron.svg" . }}
			</div>
		</button>
	</div>
	<div class="testimonials__controls__indication">
		{{ $testimonials := .Site.Data.testimonials }}
		{{ $siteLang := .Site.Language.Lang | lower }}

		{{ range $key, $value := $testimonials }}
			{{ if eq $key $siteLang }}
				{{ range $value }}
					{{ $lastIndex := sub (len $value) 1 }}
					{{ $notFirstIndex := ne (index $value 0) . }}
					<div
						class="testimonials__controls__indication-item {{ if  $notFirstIndex }}
							testimonials__controls__indication-item--disabled
						{{ end }}"
					></div>
					{{ if ne (index $value $lastIndex) . }}
						<div
							class="testimonials__controls__indication-line {{ if  $notFirstIndex }}
								indication-line--hidden
							{{ end }}"
							{{ if $notFirstIndex }}
								style="width: 0px; margin-left: 0; margin-right: 0;"
							{{ else }}
								style="width: 128px; margin-left: 2px; margin-right: 8px;"
							{{ end }}
						></div>
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
</div>
