<section class="testimonials base-grid">
	<h2
		class="col-start-3 grid-flow-row-dense whitespace-nowrap font-bold"
		col-start-3
	>
		{{ i18n "testimonials" }}
	</h2>
	{{/* Content */}}
	<div
		class="testimonials__items col-start-4 col-end-12 row-start-2 mt-6 sm:col-end-12 md:col-end-11 md:mt-16 lg:col-end-9"
	>
		<ul>
			{{ $testimonials := .Site.Data.testimonials }}
			{{ $siteLang := .Site.Language.Lang | lower }}

			{{ range $key, $value :=  $testimonials }}
				{{ if eq $key $siteLang }}
					{{ range $value }}
						{{ $firstIndex :=  eq (index $value 0) . }}
						<li
							class="testimonials__item"
							{{ if ne (index $value 0) . }}
								style="display: none;"
							{{ end }}
						>
							<p class="relative text-base sm:text-xl">
								<span class="text-neutral-700">
									“{{ .text }}”
									<span class="text-bg"></span>
								</span>
							</p>
							<div class="mt-4 md:mt-9">
								<span class="relative text-base font-bold md:text-2xl">
									{{ .name }}
									<span class="text-bg"></span
								></span>

								<p class="mt-1 md:mt-2">
									<span class="relative text-sm md:text-base">
										{{ .position }}
										<span class="text-bg"></span
									></span>
								</p>
							</div>
						</li>
					{{ end }}
				{{ end }}
			{{ end }}
		</ul>
	</div>
	{{/* Controls */}}
	{{ partial "Sections/testimonials/controls.html" . }}
	{{ $testimonialsScript := resources.Get "ts/testimonials.ts" | js.Build "js/testimonials.js" | fingerprint }}  <script src="{{$testimonialsScript.Permalink}}"></script>
</section>
