<div
	class="fixed top-0 left-0 z-50 h-screen w-screen overflow-y-scroll overscroll-y-none"
>
	<button
		class="fixed inset-0 h-full w-full bg-black opacity-40 transition-all"
	></button>
	<div class="center--horizontal-vertical min-h-screen p-4">
		<div
			class="relativ z-10 w-full border-[2px] border-neutral-800 bg-white align-middle sm:my-8 sm:w-full sm:p-6 md:max-w-screen-md lg:max-w-screen-lg"
		>
			<button
				class="center--horizontal-vertical sticky top-4 right-4 mt-4 ml-4 h-11 w-11 fill-neutral-500 hover:fill-neutral-900"
			>
				<svg
					width="20"
					height="20"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 320 512"
				>
					<path
						d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"
					/>
				</svg>
			</button>
			<main class="px-10 pt-2 pb-16 md:px-20">
				<div class="space-y-3">
					<div class="text-xl font-semibold">Nastavení cookies</div>
					<div class="flex justify-between gap-2">
						<div class="max-w-xl space-y-2">
							<div class="text-base font-semibold">Nezbytné cookies</div>
							<p class="text-sm">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
								voluptatibus nesciunt, quis repellendus inventore at. Unde,
								aliquid fugit. Velit, animi.
							</p>
						</div>
						<div>
							{{/* switch */}}
						</div>
					</div>
					<div class="flex justify-between gap-2">
						<div class="max-w-xl space-y-2">
							<div class="text-base font-semibold">Analytické cookies</div>
							<p class="text-sm">
								Tyto soubory se používají k měření a analýze návštěvnosti našich
								webových stránek (množství návštěvníků, zobrazené stránky,
								průměrná doba prohlížení atd.), což nám pomáhá vylepšovat jejich
								fungování a vyvíjet pro vás nové služby. Souhlasem nám pomáháte
								získat cenná data o tom, jak naše stránky užíváte. Díky tomu náš
								web funguje lépe a vy si můžete užít pohodlnější nákupy.
							</p>
						</div>
						<div>
							{{/* switch */}}
						</div>
					</div>
					<div class="flex justify-between gap-2">
						<div class="max-w-xl space-y-2">
							<div class="text-base font-semibold">Reklamní cookies</div>
							<p class="text-sm">
								Tyto soubory se používají k měření a analýze návštěvnosti našich
								webových stránek (množství návštěvníků, zobrazené stránky,
								průměrná doba prohlížení atd.), což nám pomáhá vylepšovat jejich
								fungování a vyvíjet pro vás nové služby. Souhlasem nám pomáháte
								získat cenná data o tom, jak naše stránky užíváte. Díky tomu náš
								web funguje lépe a vy si můžete užít pohodlnější nákupy.
							</p>
						</div>
						<div>
							{{/* switch */}}
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
