<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	{{ partial "head.html" . }}
	<body class="overflow-x-hidden" data-theme="terminal">
		<a href="#main" class="sr-only focus:not-sr-only focus:fixed focus:top-2 focus:left-2 focus:z-[9999] focus:bg-neutral-800 focus:px-4 focus:py-2 focus:text-neutral-50">
			{{ i18n "skip-to-content" | default "Skip to content" }}
		</a>
		{{ partial "grid.html" . }}
		{{ partial "header.html" . }}
		{{ partial "contact/contactSide.html" . }}
		<main id="main">
			{{ block "main" . }}
				{{ .Content }}
			{{ end }}
		</main>
		{{ partial "footer.html" . }}

		{{ $indexJS := resources.Get "ts/index.ts" | js.Build "js/index.js" | fingerprint }} <script src="{{$indexJS.Permalink}}" defer></script>
	</body>
</html>
