<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	{{ partial "head.html" . }}
	<body class="overflow-x-hidden">
		{{ partial "analytics/gtmBody.html" }}
		{{ partial "grid.html" . }}
		{{ partial "header.html" . }}
		{{ partial "contact/contactSide.html" . }}
		<main>
			{{ block "main" . }}
				{{ .Content }}
			{{ end }}
		</main>
		{{ partial "footer.html" . }}


		<div id="cookie-consent"></div>

		{{ $solidJS := resources.Get "js/CookieBanner/index.js" | fingerprint }} <script src="{{$solidJS.Permalink}}"></script>
		{{ $indexJS := resources.Get "ts/index.ts" | js.Build "js/index.js" | fingerprint }} <script src="{{$indexJS.Permalink}}"></script>
	</body>
</html>
