<a
	href="{{ .Get `href` }}"
	class="group relative cursor-pointer overflow-visible text-base font-semibold md:text-3xl focus-accent"
>
	<span
		class="relative inline-block whitespace-nowrap pl-24 pr-5 after:absolute after:left-0 after:top-1/2 after:h-[2px] after:w-full after:origin-left after:scale-x-[0.35] after:-translate-y-1/2 after:bg-neutral-900 after:transition-transform after:duration-200 group-hover:after:scale-x-100"
	>
		<span
			class="absolute top-1/2 left-20 inline-block aspect-[3/4] h-[15px] w-auto -translate-y-1/2 transition-[left] duration-200 group-hover:left-[calc(100%-8px)]"
		>
			{{ partial "svg/Chevron.svg" . }}
		</span>
		{{ .Get "text" }}
	</span>
</a>
