<meta property="og:site_name" content="Jan Vítů" />
<meta property="og:url" content="{{ .Page.Permalink }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta property="og:title" content="{{ .Page.Title }}" />
<meta property="og:description" content="{{ .Page.Description }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}android-chrome-512x512.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Page.Title }}" />
<meta name="twitter:description" content="{{ .Page.Description }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}android-chrome-512x512.png" />
